/* ===============COMMON STYLES======== */
body {
  font-style: normal;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

h2 {
  text-align: center;
  font-size: 36px;
  line-height: 1.1;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===============/COMMON STYLES======== */

/* ===============HEDER MOBILE STYLES======== */

.nav-main {
  display: none;
}

.contacts {
  display: none;
}

.top-page {
  padding: 16px 0;
  border-bottom: 1px solid #e7e9fc;
  background: #ffffff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.logotype {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio-header {
  color: #2e2f42;
}

.mobil-menu-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}
.page-header-container {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #ffffff;
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }

  .container-mobil-menu {
    position: relative;
  }

  .button-close-mobil-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0;
    line-height: 0;
    top: 24px;
    right: 8px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #e7e9fc;
    fill: #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    padding-top: 72px;
    margin-bottom: 168px;
  }

  .nav-list {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }

  .nav-links:focus,
  .nav-links:hover {
    color: #404bbf;
  }

  .current-page:active {
    color: #404bbf;
  }

  .nav-list-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .contacts-mobil-menu {
    margin-bottom: 48px;
  }

  .contacts-mobil-menu:hover,
  .contacts-mobil-menu:active {
    color: #404bbf;
  }

  .link-contacts {
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .link-contacts:not(:last-child) {
    margin-bottom: 24px;
  }

  .social-icons {
    display: flex;
    justify-content: space-between;
  }

  .social-icons-item {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
  }

  .social-links {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-links:hover,
  .social-links:focus {
    background-color: #404bbf;
  }
  /* ===============/HEDER MOBILE STYLES======== */
}
/* ===============HERO MOBILE STYLES======== */

.section-hero {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 320px;
  padding: 72px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-image-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.main-title {
  width: 220px;
  margin: 0 auto 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #ffffff;
}

.order-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  padding: 16px 32px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  background-color: #4d5ae5;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .section-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero-image-mobile@2x.jpg);
  }
}
/* ===============/HERO MOBILE STYLES======== */
/* ===============BENEFITS MOBILE STYLES======== */

.our-advantages {
  padding-bottom: 96px;
  padding-top: 96px;
}

.container-icon-benefits {
  display: none;
}

.section-card-title-benefits {
  margin-bottom: 8px;
}

.list-benefits {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.benefits-punkts {
  max-width: 100%;
}

.benefits-disc {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ===============/BENEFITS MOBILE STYLES======== */

/* ===============TEAM MOBILE STYLES======== */

.section-team {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.our-team {
  margin-bottom: 72px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.list-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 72px;
}

.team-cards:not(:last-child) {
  margin-right: 24px;
}

.team-name {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}

.team-cards {
  display: block;
  background-color: #ffffff;
  max-width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.user-profile {
  padding: 32px 0;
}

.team-profess {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.social-icons {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-links {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover,
.social-links:focus {
  background-color: #404bbf;
}

.social-icons-item {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}
/* ===============/TEAM MOBILE STYLES======== */

/* ===============PORTFOLIO MOBILE STYLES======== */

.section-portfolio {
  padding: 96px 0;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  position: relative;
}

.portfolio-items {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.cards-portfolio {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
}

.name-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  background: #ffffff;
}

.type-app {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-cards-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}

.overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items:hover .overlay {
  transform: translateY(0%);
}
/* ===============/PORTFOLIO MOBILE STYLES======== */

/* ===============FOOTER MOBILE STYLES======== */

.main-foot {
  padding: 96px 0;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-cont {
  text-align: center;
}

.logo-studio {
  color: #f4f4fd;
}

.copiright {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  text-align: left;
  color: #f4f4fd;
}

.logotype-footer {
  display: inline-block;
  margin-bottom: 16px;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.title-social-media {
  text-align: center;
  font-weight: 500;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.item-social-footer {
  width: 40px;
  height: 40px;
}

.social-list-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-icons-item-footer {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

.footer-social-item:hover,
.footer-social-item:focus {
  background-color: #31d0aa;
}

.footer-form-searching-title {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-form-searching-label {
  display: block;
  margin-bottom: 16px;
  color: #ffffff;
}

.searching-input-place::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.searching-input-place {
  width: 288px;
  height: 40px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-left: 16px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: transparent;
  outline-offset: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.searching-input-place:focus {
  border-color: #4d5ae5;
}

.footer-form-searching-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 165px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: #4d5ae5;
}

.footer-form-searching-button-icon {
  margin-left: 16px;
  fill: #ffffff;
}

.footer-form-searching {
  display: flex;
  flex-direction: column;
}

/* ===============/FOOTER MOBILE STYLES======== */

/* ===============BACKDROP MOBILE STYLES======== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* ===============/BACKDROP MOBILE STYLES======== */

/* ================MODAL MOBILE============== */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0;
  line-height: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #ffffff;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.review-form-description {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #2e2f42;
}
/* ================/MODAL MOBILE============== */

/* ============MOBIL REVIEW FORM STYLES=========== */
.review-form-field-label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: #8e8f99;
}

.review-form-field {
  background-color: transparent;
  outline: transparent;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field:focus {
  border-color: #4d5ae5;
  outline-color: transparent;
  outline-offset: 5px;
}

.review-form-field:focus + .review-form-field-icon {
  fill: #4d5ae5;
}

.review-form-input-wrapper {
  position: relative;
}

.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-label-wrapper {
  margin-bottom: 8px;
}

.wrapper-textarea {
  margin-bottom: 16px;
}

.review-form-message {
  width: 100%;
  height: 120px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
}

.review-form-message:focus {
  border-color: #4d5ae5;
  outline-color: transparent;
  outline-offset: 5px;
}

.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.review-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  cursor: pointer;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-policy-link {
  text-decoration-line: underline;
  color: #4d5ae5;
}

.review-form-checkbox:checked + .review-form-checkbox-label .review-form-own-checkbox {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.review-form-checkbox:focus + .review-form-checkbox-label .review-form-own-checkbox {
  outline: 1px solid #404bbf;
}

.review-form-button {
  display: block;
  margin: 0 auto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-button:hover,
.review-form-button:focus {
  background-color: #404bbf;
}

/* ============/MOBIL REVIEW FORM STYLES=========== */

/* ===============HEDER TABLET STYLES======== */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .mobile-menu {
    display: none;
  }

  .mobil-menu-btn {
    display: none;
  }

  .nav-list {
    display: flex;
    align-items: center;
  }

  .contacts {
    display: flex;
  }

  .logotype {
    margin-right: 120px;
  }
  .nav-list-item {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .nav-links {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px 0;
  }

  .current-page {
    color: #404bbf;
  }

  .current-page::after,
  .current-page::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    bottom: -1px;
  }

  .nav-list-item > a:focus,
  .nav-list-item > a:hover {
    color: #404bbf;
  }

  .list-contacts {
    font-weight: 400;
    color: #434455;
  }

  .contact-info:hover,
  .contact-info:focus {
    color: #404bbf;
  }

  .contact-info {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-list-item:not(:last-child) {
    margin-right: 40px;
  }

  .link-contacts {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.04em;
    color: #434455;
  }
  /* ===============/HEDER TABLET STYLES======== */
  /* ===============HERO TABLET STYLES======== */

  .section-hero {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero-image-tablet.jpg);
  }

  .order-button {
    margin-left: auto;
    margin-right: auto;
  }

  .main-title {
    width: 496px;
    text-transform: none;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 36px;
  }

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 1157px),
    screen and (min-resolution: 192dpi) and (max-width: 1157px),
    screen and (min-resolution: 2dppx) and (max-width: 1157px) {
    .section-hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-image-tablet@2x.jpg);
    }
  }
  /* ===============/HERO TABLET STYLES======== */

  /* ===============BENEFITS TABLET STYLES======== */

  .list-benefits {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .section-card-title-benefits {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }

  .benefits-disc {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .benefits-punkts {
    width: calc((100% - 24px) / 2);
  }

  /* ===============/BENEFITS TABLET STYLES======== */

  /* ===============TEAM TABLET STYLES======== */

  .list-team {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }

  .team-cards {
    max-width: calc((100% - 24px) / 2);
  }
  /* ===============/TEAM TABLET STYLES======== */

  /* ===========PORTFOLIO TABLET STYLES=========== */

  .list-portfolio {
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-items {
    width: calc((100% - 24px) / 2);
  }
  /* ===========/PORTFOLIO TABLET STYLES=========== */

  /* =============FOOTER TABLET STYLES================= */

  .main-foot {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .main-foot .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    row-gap: 72px;
    column-gap: 24px;
    padding-left: 108px;
  }

  .footer-cont {
    text-align: left;
  }

  .title-social-media {
    text-align: left;
  }

  .footer-form-searching-title {
    text-align: left;
  }

  .footer-form-searching {
    flex-direction: row;
  }

  .searching-input-place {
    width: 264px;
  }

  .footer-form-searching-label {
    margin-bottom: 0;
    margin-right: 24px;
  }
  /* =============/FOOTER TABLET STYLES=============== */
  /* ==============MODAL TABLET STYLES================= */

  .modal {
    padding: 72px 24px 24px;
    width: 408px;
    min-height: 584px;
  }

  /* =============/MODAL TABLET STYLES=============== */
}

/* ===============HEDER DESCTOP STYLES======== */

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }

  .top-page {
    padding: 24px 0;
  }

  .logotype {
    margin-right: 76px;
  }

  .mobile-menu {
    display: none;
  }

  .mobil-menu-btn {
    display: none;
  }

  .list-contacts {
    display: flex;
    column-gap: 40px;
  }

  .nav-list-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .link-contacts {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* ===============/HEDER DESCTOP STYLES======== */
  /* ===============HERO DESCTOP STYLES======== */

  .section-hero {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero-image.jpg);
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 48px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-image@2x.jpg);
    }
  }
  /* ===============/HERO DESCTOP STYLES======== */
  /* ===============BENEFITS DESCTOP STYLES======== */

  .benefits-punkts {
    max-width: calc((100% - 72px) / 4);
  }

  .container-icon-benefits {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .benefits-icon {
    margin: 24px 0;
  }

  .section-card-title-benefits {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  .benefits-disc {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* ===============/BENEFITS DESCTOP STYLES======== */
  /* ===============TEAM DESCTOP STYLES======== */

  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .list-team {
    display: flex;
    flex-wrap: nowrap;
  }

  .team-cards {
    width: calc((100% - 72px) / 4);
  }
  /* ===============/TEAM DESCTOP STYLES======== */

  /* ===========PORTFOLIO DESCTOP STYLES=========== */

  .section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .list-portfolio {
    row-gap: 48px;
  }

  .portfolio-items {
    width: calc((100% - 48px) / 3);
  }
  /* ===========/PORTFOLIO DESCTOP STYLES=========== */
  /* =============FOOTER DESCTOP STYLES================= */

  .main-foot {
    min-width: 1158px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .main-foot .container {
    display: flex;
    flex-wrap: nowrap;
    row-gap: 0;
    column-gap: 0;
    padding-left: 16px;
  }

  .footer-cont {
    margin-right: 120px;
  }

  .social-links-footer {
    margin-right: 80px;
  }

  .footer-form-searching-button {
    padding: 0;
  }

  /* =============/FOOTER DESCTOP STYLES=============== */
}
